@font-face {
    font-family: 'fira_sanstwo';
    font-style: normal;
    font-weight: normal;
  //  (css/fira/firasans-book.woff)
    src: url('fira/firasans-two.eot');
    src: url('fira/firasans-two.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-two.woff') format('woff'),
         url('fira/firasans-two.ttf') format('truetype');
   
}

@font-face {
    font-family: 'fira_sanstwo_italic';
    font-style: normal;
    font-weight: normal;
    src: url('fira/firasans-twoitalic.eot');
    src: url('fira/firasans-twoitalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-twoitalic.woff') format('woff'),
         url('fira/firasans-twoitalic.ttf') format('truetype');
}

@font-face {
    font-family: 'fira_sanseight';
    font-style: normal;
    font-weight: normal;
    src: url('fira/firasans-eight.eot');
    src: url('fira/firasans-eight.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-eight.woff') format('woff'),
         url('fira/firasans-eight.ttf') format('truetype');
    
}

@font-face {
    font-family: 'fira_sanseight_italic';
    font-style: normal;
    font-weight: normal; 
    src: url('fira/firasans-eightitalic.eot');
    src: url('fira/firasans-eightitalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-eightitalic.woff') format('woff'),
         url('fira/firasans-eightitalic.ttf') format('truetype');
    
}

@font-face {
    font-family: 'fira_sanshair';
    font-style: normal;
    font-weight: normal;
    src: url('fira/firasans-hair.eot');
    src: url('fira/firasans-hair.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-hair.woff') format('woff'),
         url('fira/firasans-hair.ttf') format('truetype');
    
}

@font-face {
    font-family: 'fira_sanshair_italic';
    font-style: normal;
    font-weight: normal;
    src: url('fira/firasans-hairitalic.eot');
    src: url('fira/firasans-hairitalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-hairitalic.woff') format('woff'),
         url('fira/firasans-hairitalic.ttf') format('truetype');
    
}

@font-face {
    font-family: 'fira_sansthin';
    font-style: normal;
    font-weight: normal;
    src: url('fira/firasans-thin.eot');
    src: url('fira/firasans-thin.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-thin.woff') format('woff'),
         url('fira/firasans-thin.ttf') format('truetype');
   
}

@font-face {
    font-family: 'fira_sansthin_italic';
    font-style: normal;
    font-weight: normal;
    src: url('fira/firasans-thinitalic.eot');
    src: url('fira/firasans-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-thinitalic.woff') format('woff'),
         url('fira/firasans-thinitalic.ttf') format('truetype');
  
}

@font-face {
    font-family: 'fira_sansultralight';
    font-style: normal;
    font-weight: normal;
    src: url('fira/firasans-ultralight.eot');
    src: url('fira/firasans-ultralight.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-ultralight.woff') format('woff'),
         url('fira/firasans-ultralight.ttf') format('truetype');
   
}

@font-face {
    font-family: 'fira_sansultralight_italic';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-ultralightitalic.eot');
    src: url('fira/firasans-ultralightitalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-ultralightitalic.woff') format('woff'),
         url('fira/firasans-ultralightitalic.ttf') format('truetype');
  
}

@font-face {
    font-family: 'fira_sansextralight';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-extralight.eot');
    src: url('fira/firasans-extralight.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-extralight.woff') format('woff'),
         url('fira/firasans-extralight.ttf') format('truetype');
   
}

@font-face {
    font-family: 'fira_sansextralight_italic';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-extralightitalic.eot');
    src: url('fira/firasans-extralightitalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-extralightitalic.woff') format('woff'),
         url('fira/firasans-extralightitalic.ttf') format('truetype');
   
}

@font-face {
    font-family: 'fira_sanslight';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-light.eot');
    src: url('fira/firasans-light.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-light.woff') format('woff'),
         url('fira/firasans-light.ttf') format('truetype');
  
}

@font-face {
    font-family: 'fira_sanslight_italic';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-lightitalic.eot');
    src: url('fira/firasans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-lightitalic.woff') format('woff'),
         url('fira/firasans-lightitalic.ttf') format('truetype');
   
}

@font-face {
    font-family: 'fira_sansbook';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-book.eot');
    src: url('fira/firasans-book.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-book.woff') format('woff'),
         url('fira/firasans-book.ttf') format('truetype');

}

@font-face {
    font-family: 'fira_sansbook_italic';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-bookitalic.eot');
    src: url('fira/firasans-bookitalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-bookitalic.woff') format('woff'),
         url('fira/firasans-bookitalic.ttf') format('truetype');
  
}

@font-face {
    font-family: 'fira_sansregular';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-regular.eot');
    src: url('fira/firasans-regular.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-regular.woff') format('woff'),
         url('fira/firasans-regular.ttf') format('truetype');
   
}

@font-face {
    font-family: 'fira_sansitalic';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-regularitalic.eot');
    src: url('fira/firasans-regularitalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-regularitalic.woff') format('woff'),
         url('fira/firasans-regularitalic.ttf') format('truetype');
   
}

@font-face {
    font-family: 'fira_sansmedium';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-medium.eot');
    src: url('fira/firasans-medium.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-medium.woff') format('woff'),
         url('fira/firasans-medium.ttf') format('truetype');
   
}

@font-face {
    font-family: 'fira_sansmedium_italic';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-mediumitalic.eot');
    src: url('fira/firasans-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-mediumitalic.woff') format('woff'),
         url('fira/firasans-mediumitalic.ttf') format('truetype');
  
}

@font-face {
    font-family: 'fira_sanssemibold';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-semibold.eot');
    src: url('fira/firasans-semibold.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-semibold.woff') format('woff'),
         url('fira/firasans-semibold.ttf') format('truetype');
  
}

@font-face {
    font-family: 'fira_sanssemibold_italic';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-semibolditalic.eot');
    src: url('fira/firasans-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-semibolditalic.woff') format('woff'),
         url('fira/firasans-semibolditalic.ttf') format('truetype');

}

@font-face {
    font-family: 'fira_sansbold';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-bold.eot');
    src: url('fira/firasans-bold.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-bold.woff') format('woff'),
         url('fira/firasans-bold.ttf') format('truetype');
  
}

@font-face {
    font-family: 'fira_sansbold_italic';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-bolditalic.eot');
    src: url('fira/firasans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-bolditalic.woff') format('woff'),
         url('fira/firasans-bolditalic.ttf') format('truetype');

}

@font-face {
    font-family: 'fira_sansextrabold';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-extrabold.eot');
    src: url('fira/firasans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-extrabold.woff') format('woff'),
         url('fira/firasans-extrabold.ttf') format('truetype');

}

@font-face {
    font-family: 'fira_sansextrabold_italic';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-extrabolditalic.eot');
    src: url('fira/firasans-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-extrabolditalic.woff') format('woff'),
         url('fira/firasans-extrabolditalic.ttf') format('truetype');
   
}

@font-face {
    font-family: 'fira_sansheavy';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-heavy.eot');
    src: url('fira/firasans-heavy.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-heavy.woff') format('woff'),
         url('fira/firasans-heavy.ttf') format('truetype');
    
}

@font-face {
    font-family: 'fira_sansheavy_italic';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-heavyitalic.eot');
    src: url('fira/firasans-heavyitalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-heavyitalic.woff') format('woff'),
         url('fira/firasans-heavyitalic.ttf') format('truetype');
  
}

@font-face {
    font-family: 'fira_sansultra';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-ultra.eot');
    src: url('fira/firasans-ultra.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-ultra.woff') format('woff'),
         url('fira/firasans-ultra.ttf') format('truetype');
   
}

@font-face {
    font-family: 'fira_sansultra_italic';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firasans-ultraitalic.eot');
    src: url('fira/firasans-ultraitalic.eot?#iefix') format('embedded-opentype'),
         url('fira/firasans-ultraitalic.woff') format('woff'),
         url('fira/firasans-ultraitalic.ttf') format('truetype');
 
}

@font-face {
    font-family: 'fira_monobold';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firamono-bold.eot');
    src: url('fira/firamono-bold.eot?#iefix') format('embedded-opentype'),
         url('fira/firamono-bold.woff') format('woff'),
         url('fira/firamono-bold.ttf') format('truetype');
   
}

@font-face {
    font-family: 'fira_monoregular';
    font-weight: normal;
    font-style: normal;
    src: url('fira/firamono-regular.eot');
    src: url('fira/firamono-regular.eot?#iefix') format('embedded-opentype'),
         url('fira/firamono-regular.woff') format('woff'),
         url('fira/firamono-regular.ttf') format('truetype');
   
} 
 
 
 
 
 
 
