html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
body{
   background: url(../Bild/background.png) repeat scroll 0 0 rgba(0,0,0,0);  
   margin:0;
   min-height:100%;
   
}
.container{
   width:960px;
   margin:0 auto 40px auto;
   padding:0;
}


  /* header */
header{
  height: 119px;
  background: url(../Bild/header-logo.png) no-repeat;
  padding-right: 76px;
  margin-bottom:40px;
  
}
ul li{
    list-style-type:none;
}
header ul{
    padding-top:34.5px; 
    margin:0;
   }
header a{
    float:left;
    float:right;
    padding-right:24px;
}
ul a.vk:hover{
 display: block;
 background:url(../Bild/vk-hover.png) no-repeat;
 }
 
 
 ul a.vk{
 display: block;
 background:url(../Bild/vk.png) no-repeat;
 }
 a img{
 border:none;
 }
 
 ul a.tw:hover{
 display: block;
 background:url(../Bild/tw-hover.png) no-repeat;
 }
 
 
 ul a.tw{
 display: block;
 background:url(../Bild/tw.png) no-repeat;
 }
 
 
 ul a.face:hover{
 display: block;
 background:url(../Bild/facebook-hover.png) no-repeat;
 }
 
 
 ul a.face{
 display: block;
 background:url(../Bild/facebook.png) no-repeat;
 } 
 
  ul a.gt:hover{
 display: block;
 background:url(../Bild/gihtub-hover.png) no-repeat;
 }
 
 
 ul a.gt{
 display: block;
 background:url(../Bild/gihtub.png) no-repeat;
 } 
 
 /* Header and*/
 
 
 /*nav sidebar*/
  a{
    text-decoration:none;
    display:block;
   }
   
   nav{
   width: 250px;
   float:left;
   margin:0;
 
   }
   
   
 .sidebar{
     margin-bottom: 23px;
     font-family:'fira_sansbook';
 }
 nav ul{
     margin: 0;
     padding: 0;
     
 }
 
nav .menu li {
   background:#eff3f7;
   height: 73px;
   width:250px;
   margin:0;
  padding: 0;
   font-size: 23px;
  
 
 }
 nav .menu span.num2_2{
  display: block;
  padding: auto 10px; 
  border-top: 2px solid #3ba8c0; 
 
 } 
 .num3_2{
      color:#fff;
 }
  
  
 
 nav .menu a{
  color: #959aa8;
  line-height: 77px;
  padding:0 10px;
  text-indent:20px;
 }
 .menu .num3{
    background:#3ba8c0; 
    font-size:23px;
   border-bottom: 2px solid #3ba8c0;
   border-radius:8px 8px  0 0 ;
  
 }

 
  .menu .num2{
 
   font-size:21px;
 
 }
   .menu .num3{
  
   font-size:21px;
    border-radius: 0 0 8px 8px ;
 }
 
 nav .sidebar a[href*=html]:hover{
  color:#3ba8c0;   
     
 }
 /*nav kontact*/
 
 
  nav .kontakt li{
   height: 40px; 
   
 }
  nav .kontakt p{
    text-indent:30px;
     line-height: 40px;
     color:#fff;
 }
  
  nav .kontakt li a{
   height: 40px; 
   text-indent:80px;
   line-height: 40px;
 }
  nav .kontakt{
 display: block;
 font-family:'fira_sansbook';

 }
 nav .kontakt a,nav .kontakt {
 color: #ffffff;
 
 }
 nav .kontakt a:hover{  
  text-decoration:underline;
  color:#ffffff;  
 }
 .kontakt .post{
    background:url(../Bild/post.png) no-repeat;
    font-size:17px;
 }
 
 
  .kontakt .call{
     background:url(../Bild/tel.png) no-repeat;
     font-size:17px;
 }
 
   .kontakt .sk{
  background:url(../Bild/sk.png) no-repeat;
   font-size:17px;
   border-radius:0 0 8px 8px ;
 }
 .kontakt p{
     background:#3ba8c0;
     border-radius:8px 8px 0 0  ;
     font-size:21px;
     height: 40px;
 }

  

 
 
 
  
 /* fieldset input*/
 
 
 fieldset{
   
    background: #eff3f7;
    margin-left: 306px;
    border: none;
    border-radius: 4px;
    padding-bottom: 193px;
  
 }
 .streamer{
   background: none repeat scroll 0 0 #48cbe8;
    border-bottom: 17px solid #67dffa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 137px;  
    margin-bottom:40px;
 }
 
 
 .streamer p{
   
    color: #fff;
    font-family: 'fira_sansbook';
    font-size: 27px;
    line-height: 120px;
    text-align: center;
 }
 input[type="text"],input[type="email"]{
    width: 190px;
    height: 40px; 
    border:1px solid #48cbe8;
    border-radius: 4px;
 }
 .form p{
    color: #959aa8;
    font-family: "fira_sanslight";
    font-size: 19px;
 }
 .form{
     width: 400px;
     margin: 0px auto; 
 }
 
 .information .info1{
   float: left;
  margin-bottom: 17px;
 }
 .information .info2{
   float:right;
  margin-bottom: 17px;
 }

 textarea {
    width:395px;
    height:181px; 
    border-radius: 4px;
    border:1px solid #48cbe8;
    margin-bottom:17px;
  }

 
  input.capcha{
      display: block;
        width: 191px;
    height: 73px;
    float: left; 
    margin-right:0px;
    margin-top: 4px;
     border-radius: 4px;
    border:1px solid #48cbe8;
     
   
  }
  
 input.colum{
   float: right; 
   margin-top: 20px;
       
  }
 
 
 
  .pressbutton{
      margin-top: 111px;
  }
 

 
.button2 input {
    font-size: 19px;
    font-family:'fira_sansbook';
    color: #fff;
    width:139px;
    height: 33px;
    border-radius: 4px;
    border-bottom:1px solid #687b8f;
    background-color:#849db5;
    float: right;
}

.button1 input{
    font-size: 19px;
    font-family:'fira_sansbook';
    color: #fff;
    width:139px;
    height: 33px;
    border-radius: 4px;
    background-color:#48cbe8;
    border-bottom:1px solid #3ba8c0 ;
    float: left;
}
   

   
  /*footer*/


footer{
    height:80px;
    background: url(../Bild/footer.png) no-repeat;
    clear:left;
    margin-top: 39px;
    margin-bottom: 0;
}













