
 
 
 
 /*section*/
 section{
  width: 650px;
  height: 838px; 
    background: #eff3f7;
    margin-left: 530px;
    margin-top: 55px;
    border: none;
    border-radius: 4px;
    padding-top:5px;
 }
   
 
 section .job{
  display: block;
  width: 201px;
  height: 47px; 
  border-bottom:2px solid #3ba8c0;
  text-align: center;
  margin-top: 25px;
  font-family:fira_sansbook;
   font-family:fira_sansbook;
   font-size:27px;
   color:#3ba8c0;
   
 }
 
 
 .proect li{
   width: 180px;
     height: 127px; 
     border:2px solid #3ba8c0; 
      float:left;
      margin-left:15px;
       border-radius: 4px;
       text-align: center;
      margin-top:15px;
      
 }
 
  
 .proect li a{
  color:#3ba8c0;
      
 }
 
 
 li.photo5{
     border:dotted;
      color:#3ba8c0;
 }
 
 
 
 
 
 
 
 
 
 /*footer*/


footer{
   height:80px;
   background: url(../Bild/footer.png) no-repeat;
   clear: both;
   margin-top: 39px;
}
