
body{
   width: 1400px;
   height: 1117px;   
   background: url(../Bild/background.png);  
   margin:0;
}
  /* header */
header{
  height: 119px;
  background: url(../Bild/header-logo.png) no-repeat;
  padding-right: 76px;
  margin:0;
  
}
ul li{
    list-style-type:none;
}
header ul{
    padding-top:34.5px; 
    margin:0;
   }
header a{
    float:left;
    float:right;
    padding-right:24px;
}
ul a.vk:hover{
 display: block;
 background:url(../Bild/vk-hover.png) no-repeat;
 }
 
 
 ul a.vk{
 display: block;
 background:url(../Bild/vk.png) no-repeat;
 }
 a img{
 border:none;
 }
 
 ul a.tw:hover{
 display: block;
 background:url(../Bild/tw-hover.png) no-repeat;
 }
 
 
 ul a.tw{
 display: block;
 background:url(../Bild/tw.png) no-repeat;
 }
 
 
 ul a.face:hover{
 display: block;
 background:url(../Bild/facebook-hover.png) no-repeat;
 }
 
 
 ul a.face{
 display: block;
 background:url(../Bild/facebook.png) no-repeat;
 } 
 
  ul a.gt:hover{
 display: block;
 background:url(../Bild/gihtub-hover.png) no-repeat;
 }
 
 
 ul a.gt{
 display: block;
 background:url(../Bild/gihtub.png) no-repeat;
 } 
 
 /* Header and*/
 
 
 
   /* nav1+nav2 */
   a{
    text-decoration:none;
    display:block;
   }
   nav{
   width: 250px;
   height: 397px;  
   margin:39px 0px 0px 178px;
   float:left;
 }

 nav .menu li {
   background:#eff3f7;
   width: 250px;
   height: 73px;  
 }
  nav .kontakt li{
   width: 250px;
   height: 40px;    
 }
 
  nav .menu a{
      
  margin-left:27px;
  line-height:72px;  
  color: #959aa8;
 }

 .menu #num1{
 
   font-family:fira_sansbook;
   font-size:23px;
   border-bottom: 2px solid #3ba8c0;
   border-radius:8px 8px  0 0 ;
  
 }
 .menu #num2 a{
     color:#ffffff;
 }
 
  .menu #num2{
    background:#3ba8c0;
   font-family:MyriadProRegular;
   font-size:21px;
   border-bottom: 2px solid #3ba8c0;
 }
   .menu #num3{
   font-family:firasans-book;
   font-size:21px;
    border-radius: 0 0 8px 8px ;
 }

 nav .kontakt{
 height: 397px; 
 display: block;
font-family:firasans-book;
 }
 
  nav .kontakt a{
  margin-left:86px;
 line-height:40px;  
 color: #ffffff;
 
 }
 nav .kontakt a:hover{  
  text-decoration:underline;
  color:#ffffff;  
 }
 nav .menu a:hover{  
  color:#3ba8c0;  
 }

 .kontakt #num{
     background:#3ba8c0;
     border-radius:8px 8px 0 0  ;
       font-size:21px;
 }
 
  .kontakt #email{
    background:url(../Bild/post.png) no-repeat;
       font-size:17px;
 }
 
 
  .kontakt #call{
     background:url(../Bild/tel.png) no-repeat;
      font-size:17px;
 }
 
   .kontakt #sk{
  background:url(../Bild/sk.png) no-repeat;
   font-size:17px;
   border-radius:0 0 8px 8px ;
 }
 
 
 
 
 /*section*/
 section{
  width: 650px;
  height: 838px; 
    background: #eff3f7;
    margin-left: 530px;
    margin-top: 55px;
    border: none;
    border-radius: 4px;
    padding-top:5px;
 }
   
 
 section .job{
  display: block;
  width: 201px;
  height: 47px; 
  border-bottom:2px solid #3ba8c0;
  text-align: center;
  margin-top: 25px;
  font-family:fira_sansbook;
   font-family:fira_sansbook;
   font-size:27px;
   color:#3ba8c0;
   
 }
 
 
 .proect li{
   width: 180px;
     height: 127px; 
     border:2px solid #3ba8c0; 
      float:left;
      margin-left:15px;
       border-radius: 4px;
       text-align: center;
      margin-top:15px;
      
 }
 
  
 .proect li a{
  color:#3ba8c0;
      
 }
 
 
 li.photo5{
     border:dotted;
      color:#3ba8c0;
 }
 
 
 
 
 
 
 
 
 
 /*footer*/


footer{
   height:80px;
   background: url(../Bild/footer.png) no-repeat;
   clear: both;
   margin-top: 39px;
}
