html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
body{
   background: url(../Bild/background.png) repeat scroll 0 0 rgba(0,0,0,0);  
   margin:0;
   min-height:100%;
   
}
.container{
   width:960px;
   margin:0 auto 40px auto;
   padding:0;
}


  /* header */
header{
  height: 119px;
  background: url(../Bild/header-logo.png) no-repeat;
  padding-right: 76px;
  margin-bottom:40px;
  
}
ul li{
    list-style-type:none;
}
header ul{
    padding-top:34.5px; 
    margin:0;
   }
header a{
    float:left;
    float:right;
    padding-right:24px;
}
ul a.vk:hover{
 display: block;
 background:url(../Bild/vk-hover.png) no-repeat;
 }
 
 
 ul a.vk{
 display: block;
 background:url(../Bild/vk.png) no-repeat;
 }
 a img{
 border:none;
 }
 
 ul a.tw:hover{
 display: block;
 background:url(../Bild/tw-hover.png) no-repeat;
 }
 
 
 ul a.tw{
 display: block;
 background:url(../Bild/tw.png) no-repeat;
 }
 
 
 ul a.face:hover{
 display: block;
 background:url(../Bild/facebook-hover.png) no-repeat;
 }
 
 
 ul a.face{
 display: block;
 background:url(../Bild/facebook.png) no-repeat;
 } 
 
  ul a.gt:hover{
 display: block;
 background:url(../Bild/gihtub-hover.png) no-repeat;
 }
 
 
 ul a.gt{
 display: block;
 background:url(../Bild/gihtub.png) no-repeat;
 } 
 
 /* Header and*/
 
 
 /*nav sidebar*/
  a{
    text-decoration:none;
    display:block;
   }
   
   nav{
   width: 250px;
   float:left;
   margin:0;
 
   }
   
   
 .sidebar{
     margin-bottom: 23px;
     font-family:'fira_sansbook';
 }
 nav ul{
     margin: 0;
     padding: 0;
     
 }
 
nav .menu li {
   background:#eff3f7;
   height: 73px;
   width:250px;
   margin:0;
  padding: 0;
  
 
 }
 nav .menu span.num3_2{
     display: block;
  padding: auto 10px; 
   border-top: 2px solid #3ba8c0;   
 } 
  
  
 
 nav .menu a{
  color: #959aa8;
  line-height: 77px;
  padding:0 10px;
  text-indent:20px;
 }
 .menu .num1{
    background:#3ba8c0;
    
    font-size:23px;
   border-bottom: 2px solid #3ba8c0;
   border-radius:8px 8px  0 0 ;
  
 }
 .menu .num1 a{
     color:#ffffff;
     
     
 }
 
  .menu .num2{
 
   font-size:21px;
 
 }
   .menu .num3{
  
   font-size:21px;
    border-radius: 0 0 8px 8px ;
 }
 
 nav .sidebar a[href*=html]:hover{
  color:#3ba8c0;   
     
 }
 /*nav kontact*/
 
 
  nav .kontakt li{
   height: 40px; 
   
 }
  nav .kontakt p{
    text-indent:30px;
     line-height: 40px;
     color:#fff;
 }
  
  nav .kontakt li a{
   height: 40px; 
   text-indent:80px;
   line-height: 40px;
 }
  nav .kontakt{
 display: block;
 font-family:'fira_sansbook';

 }
 nav .kontakt a,nav .kontakt {
 color: #ffffff;
 
 }
 nav .kontakt a:hover{  
  text-decoration:underline;
  color:#ffffff;  
 }
 .kontakt .email{
    background:url(../Bild/post.png) no-repeat;
    font-size:17px;
 }
 
 
  .kontakt .call{
     background:url(../Bild/tel.png) no-repeat;
     font-size:17px;
 }
 
   .kontakt .sk{
  background:url(../Bild/sk.png) no-repeat;
   font-size:17px;
   border-radius:0 0 8px 8px ;
 }
 .kontakt p{
     background:#3ba8c0;
     border-radius:8px 8px 0 0  ;
     font-size:21px;
     height: 40px;
 }
 
 /*  <section>*/
 
  section{
   width: 650px;
   margin-left:310px;
}

section div.block .foto{
    height: 160px;
    width: 160px;
    border:4px solid #31A6BD;
    border-radius:50%;  
    float:left;
    margin: 0 36px 40px 18px;
    display: block;
     margin-top: 20px;
}

section div.block{

  background: none repeat scroll 0 0 #eff3f7;  
  border:1px solid #EFF3F7;
  border-radius: 4px;
  padding: 20px 18px 23px 0px;
  margin-bottom:23px;
} 
 

.block h2 {
   
    color: #3ba8c0;
    border-bottom: 2px solid #3ba8c0;
    font-family:'fira_sansbook';
    font-size: 27px;
    width: 55%;
    text-indent: 20px;
    vertical-align: text-top;
    padding-bottom: 20px;
}
.info{
    padding: 0 0;
    margin-top: 20px;
     line-height: 37px;
    
}

.info .inform{
        font-family: 'fira_sansmedium';
         color: #4a545d;
          font-size: 17px;
           margin-right: 8px;
           
}
.info p{
     color: #37424d;
     font-family:'fira_sansbook';
    font-size: 15px;
}
.infoskills{
  float: left;
  padding-right: 10px;
}
  

.skill{
  padding: 2px 15px;
  font-family: proxima_nova_condensedSBd;
  font-size: 14px;
  color: #fff;
  border-radius: 2px;
  background-image:linear-gradient(#3BA8C0,#39A4BB);
  line-height: 25px;
}
 
.experience li{
    list-style-image:url(../Bild/case.png);
    line-height:0px;
    padding: 0 0;
    margin: 0 0;
    
}
.block ul  {
list-style-type:none;
vertical-align:top;
margin-left: 120px;
margin-top: 40px;

}

.block h3{
 color: #4a545d;
 line-height:0; 
 font-family: 'fira_sansbook';
 font-size: 17px;
 padding-left: 20px;
}


li p{
    font-family: 'fira_sanslight';
    color: #687078;
    font-size: 15px;
    padding-left: 20px;
    line-height: 37px;
}
 


.education .university{
list-style-image:url(../Bild/list.png);
}


.education .courses{
list-style-image:url(../Bild/course.png);
}


/*footer*/


footer{
   height:80px;
   background: url(../Bild/footer.png) no-repeat;
   clear: both;
   margin-top: 39px;
}