
body{
   width: 1400px;
   height: 1117px;   
   background: url(../Bild/background.png);  
   margin:0;
}
  /* header */
header{
  height: 119px;
  background: url(../Bild/header-logo.png) no-repeat;
  padding-right: 76px;
  margin:0;
  
}
ul li{
    list-style-type:none;
}
header ul{
    padding-top:34.5px; 
    margin:0;
   }
header a{
    float:left;
    float:right;
    padding-right:24px;
}
ul a.vk:hover{
 display: block;
 background:url(../Bild/vk-hover.png) no-repeat;
 }
 
 
 ul a.vk{
 display: block;
 background:url(../Bild/vk.png) no-repeat;
 }
 a img{
 border:none;
 }
 
 ul a.tw:hover{
 display: block;
 background:url(../Bild/tw-hover.png) no-repeat;
 }
 
 
 ul a.tw{
 display: block;
 background:url(../Bild/tw.png) no-repeat;
 }
 
 
 ul a.face:hover{
 display: block;
 background:url(../Bild/facebook-hover.png) no-repeat;
 }
 
 
 ul a.face{
 display: block;
 background:url(../Bild/facebook.png) no-repeat;
 } 
 
  ul a.gt:hover{
 display: block;
 background:url(../Bild/gihtub-hover.png) no-repeat;
 }
 
 
 ul a.gt{
 display: block;
 background:url(../Bild/gihtub.png) no-repeat;
 } 
 
 /* Header and*/
 
 
 
   /* nav1+nav2 */
   a{
    text-decoration:none;
    display:block;
   }
   nav{
   width: 250px;
   height: 397px;  
   margin:39px 0px 0px 178px;
   float:left;
 }

 nav .menu li {
   background:#eff3f7;
   width: 250px;
   height: 73px;  
 }
  nav .kontakt li{
   width: 250px;
   height: 40px;    
 }
 
  nav .menu a{
      
  margin-left:27px;
  line-height:72px;  
  color: #959aa8;
 }

 .menu #num1{
    background:#3ba8c0;
    font-family:fira_sansbook;
    font-size:23px;
   border-bottom: 2px solid #3ba8c0;
   border-radius:8px 8px  0 0 ;
  
 }
 .menu #num1 a{
     color:#ffffff;
 }
 
  .menu #num2{
   font-family:MyriadProRegular;
   font-size:21px;
   border-bottom: 2px solid #3ba8c0;
 }
   .menu #num3{
   font-family:firasans-book;
   font-size:21px;
    border-radius: 0 0 8px 8px ;
 }

 nav .kontakt{
 height: 397px; 
 display: block;
font-family:firasans-book;
 }
 
  nav .kontakt a{
  margin-left:86px;
 line-height:40px;  
 color: #ffffff;
 
 }
 nav .kontakt a:hover{  
  text-decoration:underline;
  color:#ffffff;  
 }
 nav .menu a:hover{  
  color:#3ba8c0;  
 }

 .kontakt #num{
     background:#3ba8c0;
     border-radius:8px 8px 0 0  ;
       font-size:21px;
 }
 
  .kontakt #email{
    background:url(../Bild/post.png) no-repeat;
       font-size:17px;
 }
 
 
  .kontakt #call{
     background:url(../Bild/tel.png) no-repeat;
      font-size:17px;
 }
 
   .kontakt #sk{
  background:url(../Bild/sk.png) no-repeat;
   font-size:17px;
   border-radius:0 0 8px 8px ;
 }
 
 
 
 
 
 
 
 /*  <section>*/
 
 section{
   width: 650px;
   height: 840px;  
   margin:55px 220px 39px 530px;
}
 
#block1{
 background:url(../Bild/block1.png) no-repeat;  
   width:660px;
   height:324px;
   padding:0.3px 25px 25px 22px;
   margin-bottom:23px;
   
   
}
#block2{
 background:url(../Bild/block2.png) no-repeat;    
   width:660px;
   height:254px; 
  padding:0.3px 25px 25px 22px;
}
#block3{
 background:url(../Bild/block3.png) no-repeat;  
   width:660px;
   height:233px; 
   padding:0.3px 25px 25px 22px;
   margin-bottom:39px;
}
 
#block1 .photo{
    float:left;
    padding-right:38px;
 
} 
section .title{
   font-family:fira_sansbook;
   font-size:27px;
   color:#3ba8c0;
   
}


#block1 .inform{
   font:bold 17px fira_sansmedium;
   color:#555f67;
 
} 

 
 #block1{
   font-family:fira_sansbook;
   color:#555f67;
   font-size:15px;
} 
 
 
 .photo2{
    float:left;
    padding-right:30px;
    padding-left:60px;
 
} 
#block2 .data{
    text-indent:130px;
}

#block2 p:nth-child(even){ 
  font-family:fira_sansbook;
   font-size:17px;
   color:#6b747c;
}


#block3 p:nth-child(even){ 
  font-family:fira_sansbook;
   font-size:17px;
   color:#6b747c;
}
#block3 .data{
    text-indent:130px;
}






/*footer*/


footer{
   height:80px;
   background: url(../Bild/footer.png) no-repeat;
   clear: both;
   margin-top: 39px;
}
